body {
	margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    background:rgba(77,77,77,1);
    color: #1DC690
}

h1{
	font-family: 'Pacifico', 'Arial';
	 margin: 12% 3%;
	 font-size: 88px;
}

.choosePlayer .player{
	margin: 0 3%;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
	grid-gap: 5%;
}

.choosePlayer h2{
	font-family: 'Dancing Script', 'Arial';
	font-size: 40px;
}

.choosePlayer{
	 margin: 0 4%;
}

#modal{
	display: none;
}