body {
	margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    background:#513B41;
    color: #1DC690
}

h1{
	font-family: 'Pacifico', 'Arial';
	 margin: 12% 3%;
	 font-size: 88px;
}

.choosePlayer .player{
	margin: 0 3%;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
	grid-gap: 5%;
}

.choosePlayer h2{
	font-family: 'Dancing Script', 'Arial';
	font-size: 40px;
}

.choosePlayer{
	 margin: 0 4%;
}

#modal, #modalWin{
	border: 20px solid #C8F4F9;
	color: #F83839;
	background-color:#7FE5F0;
	border-radius: 35px;
	display: none;
	width: 80%;
	height: 80%;
	margin: 3% 10%;
	position: fixed;
	cursor: pointer;
}

.score{
	color: #7FE5F0;
}